.details {
    display:flex;
    justify-content: space-evenly;
}

.detail--column {
    border: 1px dotted goldenrod;
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 20px;
}

.assignments {
    padding: 1rem 5rem;
}

